.button {
    background-color: rgb(119, 119, 245);
    border-radius: 4px;
    border: none;
    padding: 8px 20px;
    color: white;
    margin-bottom: 10px;
    display: flex;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto; 
}

.button:hover {
    background-color: rgb(32, 32, 254);
    cursor: pointer;
}

.formGroup {
    height: 50px;
    margin: 5px 0px;
}

.form {
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(32, 31, 31, 0.2);
}

.labels {
    color: black;
    font-size: 20px;
    margin-bottom: 10px; /* Adds space below each label */
}

.input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
}

