.container {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    background-color: rgb(20, 20, 70);
    }

.loginText {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 25px;
    gap: 10px;
    margin-bottom: 25px;
}

.logo {
    height: 30px;
}
    
.button {
    background-color: rgb(119, 119, 245);
    border-radius: 4px;
    border: none;
    padding: 8px 20px;
    color: white;
    margin-bottom: 10px;
    display: flex;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto; 
}

.button:hover {
    background-color: rgb(32, 32, 254);
    cursor: pointer;
}

.formGroup {
    height: 50px;
    padding-bottom: 30px;
  }

.form {
    align-items: center;
    justify-content: center;
    height: auto;
    width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(32, 31, 31, 0.2);
}

.dialog {
    z-index: 1;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 300px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(32, 31, 31, 0.2);
}

.dialogTitle{
 font-size: 18px;
 font-weight: bold;
}

.dialogBody{
    padding: 20px 0px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.labels {
    color: black;
    font-size: 16px;
    margin-bottom: 15px; 
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: #f0f0f0;
}

.input:focus {
    outline: none;
  }

